<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <%- include ('./additions/footer.ejs') %>
    <div id="root"></div>
    <script src="dist/js/vue.bundle.js"></script>
</body>
</html>